<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/index.css">
<!-- @@close -->

<!-- @@block = content -->
<div class="pt-wrapper">
    <!-- @@include ../layouts/_header.html -->

    <div class="pt-trigger-container">
        <span id="nextpage" class="pt-trigger" data-animation="1" data-goto="-1"></span>
        <span id="prevpage" class="pt-trigger" data-animation="2" data-goto="-2"></span>
    </div>

    <!--All Pages-->
    <section id="section1" class="section1 home pt-page">
        <div class="container">
            <div class="kvTitle"><img src="assets/images/kv.png" alt=""></div>
        </div>
    </section>
    <!-- 1 -->
    <section id="section2" class="section2 slide101 pt-page">
        <div class="txt-pos">
            <h1>坐享陽明 心慢人靜</h1>
            <h2>在台北，我們終於擁有天高地闊</h2>
            <p>作為第一個看見陽明山楓葉轉紅的人，您將會為這的每個四季深深著迷。風吹來感性，眼看著盡興，收藏最瀟灑的陽明山景，住在「藍田陞玉」，您將獨享一切的雍容。</p>
        </div>
        <p class="annotation">現場實景環境合成修飾圖</p>
    </section>
    <section id="section3" class="section3 slide102 pt-page">
        <div class="txt-pos">
            <h1>豐饒地段 盛景在望</h1>
            <h2>3分鐘捷運明德站，收藏最舒服的視野</h2>
        </div>
        <p class="annotation">建築外觀空拍合成示意</p>
    </section>
    <section id="section4" class="section4 slide103 pt-page">
        <div class="txt-pos">
            <h1>士林科技園區第一排</h1>
            <h2>搶佔台北市最後一座科技園區計畫</h2>
            <p>1990年代內科、2000年代南軟兩大科技園區飆出上兆產值，士林科學園區」作為北市最後一座科技園區，伴隨的經濟產值與商業發展，更是投資置產的絕版良機，勢要趁早插旗卡位！</p>
        </div>
        <p class="annotation">情境示意圖</p>
    </section>
    <section id="section5" class="section5 slide104 pt-page">
        <p class="annotation">捷運明德站實景</p>
    </section>
    <section id="section6" class="section6 slide105 pt-page">
        <p class="annotation">台北歐洲學校實景</p>
    </section>
    <!-- 2 360 -->
    <!-- <section id="section7" class="section7 360 pt-page">
        <div class="view360">
            <div class="p360">
                <div class="panorama">
                    <div class="preloader"></div>
                    <div class="panorama-view">
                        <div class="panorama-container">
                            <img src="images/360.jpg" data-width="3027" data-height="1080" alt="Panorama">
                        </div>
                    </div>
                </div>
            </div>
            <div class="OverlayBg">
                <div class="mid">
                    <p><span></span>點擊一下即可觀看360度天際視野</p>
                </div>
            </div>
        </div>
        <p class="annotation">建築外觀實景環境修飾</p>
    </section> -->
    <!-- 3 -->
    <section id="section8" class="section8 slide301 pt-page">
        <div class="txt-pos">
            <h1>懂得陽明 就懂得生活</h1>
            <h2>名人富豪一致選擇，雍容生活一席難求</h2>
            <p>陽明山四周向來是名人鍾情的高級住宅區，品味、習慣與質地皆精彩，一旁天母SOGO、士東市場、明德石牌雙商圈、 榮總、萬坪士科公園全方位照顧全家人，領略最自然豐盛的生活體驗。</p>
        </div>
        <p class="annotation">情境示意圖</p>
    </section>
    <section id="section9" class="section9 slide302 pt-page">
        <p class="annotation">天母SOGO實景</p>
    </section>
    <section id="section10" class="section10 slide303 pt-page">
        <p class="annotation">台灣戲曲中心實景</p>
    </section>
    <section id="section11" class="section11 slide304 pt-page">
        <p class="annotation">士東市場實景</p>
    </section>
    <section id="section12" class="section12 slide305 pt-page">
        <p class="annotation">實品屋現場視野</p>
    </section>
    <!-- 4 -->
    <section id="section13" class="section13 slide401 pt-page">
        <div class="txt-pos">
            <h1>百米地標 天造地設</h1>
            <h2>名SC鋼骨×96座KYB制震，可抗6級強震</h2>
            <p>文林北、明德路絕版角地，凌空百米開闊視野，相映陽明山景、士科園區，坐擁進化身價，更以25層SC鋼骨胸襟，廣設96座日本KYB制震系統，加上反覆鍛造石雕立面，從視覺到知覺，無一不是大手筆。
            </p>
        </div>
        <p class="annotation">外觀與情境合成情境圖</p>
    </section>
    <section id="section14" class="section14 slide402 pt-page">
        <div class="txt-pos">
            <h1>萬中選一 完美細節</h1>
            <h2>訂製加多利進口崗石，木紋格柵絕美光影</h2>
            <p>永陞重本進口Caledonia加多利崗石，每一寸晶體、結構與紋路都值得細賞，更令外觀長年恆新，再輔以造型鋁板與擁有4道深淺色澤的磁磚雕塑細節。呂建勳建築師更設計了8種進出面的錯層格柵， 創造絕佳隱密性與時刻變幻的光影美學。</p>
        </div>
        <p class="annotation">外觀實景</p>
    </section>
    <section id="section15" class="section15 slide403 pt-page">
        <p class="annotation">外觀實景</p>
    </section>
    <section id="section16" class="section16 slide404 pt-page">
        <div class="txt-pos">
            <h1>萬天地邊界 壯闊大美</h1>
            <h2>重量級建築巨擘雲集，崗石基座美學</h2>
            <p>基座以自然的節奏設計，展現陽明山稜在天際起伏的容顏，更是家頂天立地的門戶屏障。回家推開門有松樹相迎，藝術精品更讓空間與人之間， 有了relaxing的心靈默契。</p>
        </div>
        <p class="annotation">外觀實景</p>
    </section>
    <section id="section17" class="section17 slide405 pt-page">
        <p class="annotation">現場實景</p>
    </section>
    <section id="section18" class="section18 slide406 pt-page">
        <p class="annotation">現場實景</p>
    </section>
    <!-- 5 -->
    <section id="section19" class="section19 slide501 pt-page">
        <div class="txt-pos">
            <h1>空中大院 高層別墅</h1>
            <h2>寬4.67米超大降版陽台，戶戶獨立梯廳</h2>
        </div>
        <p class="annotation">實品屋現場實景</p>
    </section>
    <section id="section20" class="section20 slide502 pt-page">
        <div class="txt-pos">
            <h1>16米巨幅窗景 私藏天際視野</h1>
        </div>
        <p class="annotation">實品屋現場實景</p>
    </section>
    <section id="section21" class="section21 slide503 pt-page">
        <div class="txt-pos">
            <h1>三米五樓高 三面通透採光</h1>
        </div>
        <p class="annotation">實品屋現場實景</p>
    </section>
    <section id="section22" class="section22 slide504 pt-page">
        <p class="annotation">實品屋現場實景</p>
    </section>
    <section id="section23" class="section23 slide505 pt-page">
        <p class="annotation">實品屋現場實景</p>
    </section>
    <!-- 6 -->
    <section id="section24" class="section24 slide601 pt-page">
        <div class="txt-pos">
            <h1>挑高8米5 藝術洞石大廳</h1>
        </div>
        <p class="annotation">1F大廳實景</p>
    </section>
    <section id="section25" class="section25 slide602 pt-page">
        <div class="txt-pos">
            <h1>義大利頂級CASSINA精品傢俬</h1>
        </div>
        <p class="annotation">1F公共空間</p>
    </section>
    <section id="section26" class="section26 slide603 pt-page">
        <div class="txt-pos">
            <h1>最美的天際 只為您停留</h1>
        </div>
        <p class="annotation">頂樓綠化空間</p>
    </section>
    <!-- 7 -->
    <section id="section27" class="section27 slide701 pt-page">
        <div class="txt-pos">
            <h1>永陞建設 完美築藝</h1>
            <p>逾20年建築軌跡，一個始終低調的精品品牌，永陞海納各界人才，積澱出不平凡的原創品味，對實務與品質的堅持超乎業界，更將人文精神內化為作品創造各種溫潤的生活面貌，也實現建築人最初的夢想和感動 </p>
        </div>
        <p class="annotation">天開圖畫業績實景</p>
    </section>
    <section id="section28" class="section28 slide702 pt-page">
        <p class="annotation">天開圖畫業績實景</p>
    </section>
    <section id="section29" class="section29 slide703 pt-page">
        <p class="annotation">天開圖畫業績實景</p>
    </section>
    <section id="section30" class="section30 slide704 pt-page">
        <p class="annotation">天開圖畫業績實景</p>
    </section>

    <section id="section31" class="section31 pt-page contactPage">
        <div class="contactContent">
            <h1>基本資料</h1>
            <div class="map-box">
                <div id="google_map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14451.48165304921!2d121.516664!3d25.1062476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d90e2e8f455ab77!2z6JeN55Sw6Zme546J!5e0!3m2!1szh-TW!2stw!4v1534311841191" width="600"
                        height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            </div>
            <div class="contact-table">
                <p>建案名稱｜藍田陞玉</p>
                <p>投資興建｜永陞建設</p>
                <p>營建工程｜炬曄營造</p>
                <p>建築規劃｜呂建勳</p>
                <p>結構工程｜康閱印</p>
                <p>平面規劃｜李俊平</p>
                <p>燈光演繹｜林大為</p>
                <p>園藝造景｜施仁人</p>
                <p>基地位置｜台北市北投區文林北路138號(明德路口)</p>
                <p>坪數規劃｜103坪</p>
                <p>建築代銷｜海悅廣告股份有限公司</p>
                <p>鑑賞專線｜2828-5888</p>
            </div>

            <!-- <div class="map-box">
                <div id="google_map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14451.48165304921!2d121.516664!3d25.1062476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d90e2e8f455ab77!2z6JeN55Sw6Zme546J!5e0!3m2!1szh-TW!2stw!4v1534311841191" width="600"
                        height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            </div> -->

            <div class="fill-in-table">

                <h3>你所登錄的個人資料將做為以下用途</h3>
                <p>(一)本網站所載之相關事項通知&nbsp;&nbsp;&nbsp;(二)客戶管理與服務&nbsp;&nbsp;&nbsp;<br>(三)本公司行銷業務之推廣&nbsp;&nbsp;&nbsp;<span style="color: red;">本案實際內容以現場公布為準</span></p>

                <div class="input-box">
                    <input id="username" class="inputbox" name="username" type="text" placeholder="請填寫姓名" required>
                    <input id="phone" class="inputbox" name="phone" type="tel" placeholder="請填寫行動電話" maxlength="10" onKeyUp="value=value.replace(/[^\d]/g,'')" required>
                </div>

                <div class="checkbox">
                    <p>請同意個人資料蒐集聲明事項</p>
                    <input id="faves" type="checkbox">
                    <label for="faves" style="color:#454545;"><span></span>本人已知悉以上個人資料蒐集聲明事項</label>
                </div>

            </div>
            <div class="btn-block">
                <button class="sent" type="button">立即送出</button>
            </div>
        </div>
    </section>
</div>
<!-- @@close -->