<header>
    <div class="headContainer">
        <a id="logo" class="pt-trigger" data-animation="26" data-goto="1"><img src="assets/images/logo.svg" alt=""></a>
        <div class="container-fluid nav-right">
            <div class="button_container" id="nav-toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <nav class="overlay" id="overlay">
                <div class="overlay-nav">
                    <ul id="menu">
                        <li class="Mansion"><a class="pt-trigger" data-animation="26" data-goto="2">層&nbsp;峰&nbsp;地&nbsp;段</a></li>
                        <li class="Landscape"><a class="pt-trigger" data-animation="26" data-goto="5">環&nbsp;景&nbsp;視&nbsp;野</a></li>
                        <li class="Facilities"><a class="pt-trigger" data-animation="26" data-goto="6">陽&nbsp;明&nbsp;生&nbsp;活</a></li>
                        <li class="Space"><a class="pt-trigger" data-animation="26" data-goto="8">摩&nbsp;天&nbsp;豪&nbsp;邸</a></li>
                        <li class="Master"><a class="pt-trigger" data-animation="26" data-goto="15">名&nbsp;流&nbsp;品&nbsp;味</a></li>
                        <li class="Brand"><a class="pt-trigger" data-animation="26" data-goto="17">藝&nbsp;術&nbsp;盛&nbsp;宴</a></li>
                        <li class="Brand"><a class="pt-trigger" data-animation="26" data-goto="17">人&nbsp;文&nbsp;品&nbsp;牌</a></li>
                        <li class="Info"><a class="pt-trigger" data-animation="26" data-goto="22">立&nbsp;即&nbsp;預&nbsp;約</a></li>
                    </ul>
                </div>
            </nav>
            <div class="footer">
                <ul class="small-icon">
                    <li>
                        <a href="https://www.facebook.com/hiyes.tw/" target="_blank"><img src="assets/images/icon-fb.png" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" target="_blank"><img src="assets/images/icon-line.png" alt=""></a>
                    </li>
                    <li>
                        <a href="tel:+88628885888"><img src="assets/images/icon-phone.png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.google.com.tw/maps/place/%E8%97%8D%E7%94%B0%E9%99%9E%E7%8E%89/@25.1062476,121.516664,15z/data=!4m5!3m4!1s0x0:0x4d90e2e8f455ab77!8m2!3d25.1062476!4d121.516664" target="_blank"><img src="assets/images/icon-location.png" target="_blank"></a>
                    </li>
                </ul>
                <p class="customer-phone"><a href="tel:+88628885888"><span>貴賓專線</span>&nbsp;02 2888-5888</a></p>
            </div>
        </div>
    </div>
</header>